*{
   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto';font-size: 22px;
}
#first{
    background-color: #6c42a3;
    color: white;
}
.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.navbar .logo {
    font-size: 30px;
    font-weight: bold;
    text-transform: capitalize;
}
.nav-links{
    display: flex;
    list-style: none;
}
.nav-links li{
    margin: 0 1rem;
}
.nav-links a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    text-transform: uppercase;
}
.btn-quota{
    background-color: #ff7f3f;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-decoration: none;
    font-size: bold;

}
.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:2rem;
}
.hero-content{
    max-width: 50%;
}
.hero-content h1{
    font-size: 3rem;
    margin-bottom: 1rem;
}
.hero-content p{
    font-size: 1rem;
    margin-bottom: 1.5rem;
    line-height: 1.5;
}
.btn-contact{
    background-color: #5b319c;
    color:white;
    padding: 0.8rem 1.5rem;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}
.hero-image{
    max-width: 100%;
    height: auto;
}
.Services{
margin-top: 10px;
margin-bottom: 2px;
}
.server{
    text-align: center;
    margin-bottom: 3px;
}
.server h1{
    padding: 10px;
    font-size:25px;
    font-weight: bold;
}
.server p{
    font-size: 15px;
}
.grid-container{
    display: grid;
    grid-template-columns:repeat(4,1fr);
    gap: 20px;
    padding: 20px;
}
.grid-item{
    text-align: center;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
}

.grid-item img{
    margin: 30px 20px;
    width: 60px;
    height: auto;
    border-radius: 8px;

}
.grid-item h4{
    margin: 4px 0 5px;
    font-size: 1.2rem;
   
}
.grid-item p{
    margin: 0;
    font-size: 15px;
    line-height: 1.5;
}
.read-more-btn{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 8px;
    border: none;
    background: none;
    font-size: 15px;
    

}
.view{
    text-align: center;
}
.view-btn{
    padding: 10px 30px;
    background-color: #6c42a3;
    color: white;
    border: none;
    margin-top: 10px;
    margin-bottom: 20px;
}
#first2{
    background-color: #6c42a3;
    color: white;
    border-top-left-radius: 300px;
}
.about{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:2rem;
    margin-left: 1rem;
 
}
.about-content{
    max-width: 50%;
}
.about-content h1{
    font-size: 3rem;
    margin-bottom: 1rem;
}
.about-content p{
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    line-height: 1.5;
}
.about-contact{
    background-color: #5b319c;
    color:white;
    padding: 0.8rem 1.5rem;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}
.about-image{
    max-width: 60%;
    height: auto;
}
.btn-contact1{
    background-color: #ff7f3f;
    color:white;
    padding: 10px 40px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    
}